version: '3.9'

services:
  favsapi:
    image: "registry.gitlab.com/v.rianov/favs-backend:develop"
    environment:
      FIRESTORE_PROJECT_ID: ${FIRESTORE_PROJECT_ID}
      SERVICE_ACCOUNT_PATH: /src/service-account.json
    volumes:
      - /home/slavaryanov:/src
    command: ./favsapi
    ports:
      - 8080:8080
    depends_on:
      - db-codes
