{{define "subject"}}Welcome to Favs!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for a Favs account. We're excited to have you on board!

For future reference, your activation code is {{.code}}.

Thanks,

The Favs Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a Favs account. We're excited to have you on board!</p>
    <p>For future reference, your activation code is {{.code}}.</p>
    <p>Thanks,</p>
    <p>The Favs Team</p>
</body>

</html>
{{end}}