basePath: /api/v1
definitions:
  models.Category:
    properties:
      labels:
        items:
          type: string
        type: array
      name:
        type: string
      needsPurchase:
        type: boolean
      stripe_product_id:
        type: string
    type: object
  models.City:
    properties:
      categories:
        items:
          $ref: '#/definitions/models.Category'
        type: array
      center:
        $ref: '#/definitions/models.Coordinates'
      imageURL:
        type: string
      name:
        type: string
    type: object
  models.Coordinates:
    properties:
      latitude:
        type: number
      longitude:
        type: number
    type: object
  models.GoogleMapsInfo:
    properties:
      delivery:
        type: boolean
      formattedAddress:
        type: string
      locationURL:
        type: string
      openingInfo:
        items:
          type: string
        type: array
      photoRef:
        items:
          type: string
        type: array
      placeID:
        type: string
      rating:
        type: number
      reservable:
        type: boolean
      website:
        type: string
    type: object
  models.Place:
    properties:
      address:
        type: string
      category:
        type: string
      city:
        type: string
      coordinates:
        $ref: '#/definitions/models.Coordinates'
      description:
        type: string
      geoHash:
        type: string
      googleMapsInfo:
        $ref: '#/definitions/models.GoogleMapsInfo'
      id:
        type: string
      imagePreview:
        type: string
      instagram:
        type: string
      labels:
        items:
          type: string
        type: array
      links:
        items:
          type: string
        type: array
      locationURL:
        type: string
      name:
        type: string
      openingInfo:
        items:
          type: string
        type: array
      services:
        items:
          type: string
        type: array
      serving:
        items:
          type: string
        type: array
      website:
        type: string
    type: object
host: 34.159.168.142
info:
  contact:
    email: v.rianov@kabanov.agency
    name: API Maintainer
  description: This is a documentation for favs API endpoints.
  title: Favs API
  version: 0.2.0
paths:
  /cities:
    get:
      description: Get cities
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.City'
            type: array
        "404":
          description: Cities not found
        "500":
          description: Internal server error
      summary: Get cities
      tags:
      - cities
  /payments:
    get:
      description: Generate payment link
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Purchase ID
        in: query
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: text
        "400":
          description: Invalid request
        "500":
          description: Internal server error
      summary: Generate payment link
      tags:
      - purchases
  /places:
    get:
      consumes:
      - application/json
      description: Get places
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Latitude
        in: query
        name: latitude
        required: true
        type: number
      - description: Longitude
        in: query
        name: longitude
        required: true
        type: number
      - description: Latitude delta
        in: query
        name: latitudeDelta
        required: true
        type: number
      - description: Longitude delta
        in: query
        name: longitudeDelta
        required: true
        type: number
      - collectionFormat: csv
        description: Labels
        in: query
        items:
          type: string
        name: labels
        required: true
        type: array
      - description: Category
        in: query
        name: category
        required: true
        type: string
      - description: City
        in: query
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Place'
            type: array
        "400":
          description: Invalid request
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Get places
      tags:
      - places
  /places/{id}:
    get:
      consumes:
      - application/json
      description: Get place
      parameters:
      - description: Place ID
        in: path
        name: id
        required: true
        type: string
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Place'
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Get place
      tags:
      - places
  /places/{id}/photos:
    get:
      description: Get place photos
      parameters:
      - description: Place ID
        in: path
        name: id
        required: true
        type: string
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              type: string
            type: array
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Get place photos
      tags:
      - places
  /reports:
    post:
      description: Save report
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: text
        "400":
          description: Invalid request
        "500":
          description: Internal server error
      summary: Save report
      tags:
      - reports
  /tg/cities:
    get:
      consumes:
      - application/json
      description: Get cities
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Telegram ID
        in: header
        name: X-Telegram-ID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.City'
            type: array
        "404":
          description: Cities not found
        "500":
          description: Internal server error
      summary: Get cities
      tags:
      - cities
  /tg/login:
    post:
      consumes:
      - application/json
      description: Login
      parameters:
      - description: Telegram ID
        in: query
        name: telegramID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
        "400":
          description: Invalid request
        "500":
          description: Internal server error
      summary: Login
      tags:
      - auth
  /tg/places:
    get:
      consumes:
      - application/json
      description: Get places
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Telegram ID
        in: header
        name: X-Telegram-ID
        required: true
        type: string
      - description: Latitude
        in: query
        name: latitude
        required: true
        type: number
      - description: Longitude
        in: query
        name: longitude
        required: true
        type: number
      - description: Latitude delta
        in: query
        name: latitudeDelta
        required: true
        type: number
      - description: Longitude delta
        in: query
        name: longitudeDelta
        required: true
        type: number
      - collectionFormat: csv
        description: Labels
        in: query
        items:
          type: string
        name: labels
        required: true
        type: array
      - description: Category
        in: query
        name: category
        required: true
        type: string
      - description: City
        in: query
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Place'
            type: array
        "400":
          description: Invalid request
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Get places
      tags:
      - places
  /tg/places/{id}:
    get:
      consumes:
      - application/json
      description: Get place
      parameters:
      - description: Place ID
        in: path
        name: id
        required: true
        type: string
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Telegram ID
        in: header
        name: X-Telegram-ID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Place'
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Get place
      tags:
      - places
securityDefinitions:
  ApiKeyAuth:
    type: basic
swagger: "2.0"
