basePath: /api/v1
definitions:
  models.CreatePlaceRequest:
    properties:
      city:
        type: string
      closed_at:
        type: string
      description:
        type: string
      labels:
        items:
          type: string
        type: array
      location:
        type: string
      name:
        type: string
      open_at:
        type: string
      website:
        type: string
    type: object
  models.UpdatePlaceRequest:
    properties:
      address:
        type: string
      city:
        type: string
      description:
        type: string
      id:
        type: string
      labels:
        items:
          type: string
        type: array
      location:
        type: string
      name:
        type: string
      phone:
        type: string
      type:
        type: string
      website:
        type: string
    type: object
host: 34.159.168.142
info:
  contact:
    email: v.rianov@kabanov.agency
    name: API Maintainer
  description: This is a documentation for favs API endpoints.
  title: Favs API
  version: 0.1.0
paths:
  /places:
    get:
      consumes:
      - application/json
      description: Get places
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Latitude
        in: query
        name: latitude
        required: true
        type: number
      - description: Longitude
        in: query
        name: longitude
        required: true
        type: number
      - description: Latitude delta
        in: query
        name: latitudeDelta
        required: true
        type: number
      - description: Longitude delta
        in: query
        name: longitudeDelta
        required: true
        type: number
      - collectionFormat: csv
        description: Labels
        in: query
        items:
          type: string
        name: labels
        required: true
        type: array
      produces:
      - application/json
      responses:
        "200":
          description: Places
        "500":
          description: Internal server error
      summary: Get places
      tags:
      - places
    post:
      consumes:
      - application/json
      description: Create place
      parameters:
      - description: Place
        in: body
        name: place
        required: true
        schema:
          $ref: '#/definitions/models.CreatePlaceRequest'
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Place created
        "400":
          description: Bad request
        "500":
          description: Internal server error
      summary: Create place
      tags:
      - places
    put:
      consumes:
      - application/json
      description: Update place
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Place
        in: body
        name: place
        required: true
        schema:
          $ref: '#/definitions/models.UpdatePlaceRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Place updated
        "400":
          description: Bad request
        "500":
          description: Internal server error
      summary: Update place
      tags:
      - places
  /places/{id}:
    delete:
      consumes:
      - application/json
      description: Delete place
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Place ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Place deleted
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Delete place
      tags:
      - places
    get:
      consumes:
      - application/json
      description: Get place
      parameters:
      - description: Place ID
        in: path
        name: id
        required: true
        type: string
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Place
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Get place
      tags:
      - places
securityDefinitions:
  ApiKeyAuth:
    type: basic
swagger: "2.0"
