basePath: /api/v1
definitions:
  models.Coordinates:
    properties:
      latitude:
        type: number
      longitude:
        type: number
    type: object
  models.Place:
    properties:
      address:
        type: string
      city:
        type: string
      coordinates:
        $ref: '#/definitions/models.Coordinates'
      delivery:
        type: boolean
      description:
        type: string
      geoHash:
        type: string
      googleMapsRating:
        type: number
      id:
        type: string
      instagram:
        type: string
      labels:
        items:
          type: string
        type: array
      locationURL:
        type: string
      name:
        type: string
      openningDays:
        items:
          type: string
        type: array
      photoRef:
        items:
          type: string
        type: array
      reservable:
        type: boolean
      website:
        type: string
    type: object
host: 34.159.168.142
info:
  contact:
    email: v.rianov@kabanov.agency
    name: API Maintainer
  description: This is a documentation for favs API endpoints.
  title: Favs API
  version: 0.2.0
paths:
  /cities:
    get:
      description: Get cities
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            items:
              type: string
            type: array
        "500":
          description: Internal server error
      summary: Get cities
      tags:
      - cities
  /places:
    get:
      consumes:
      - application/json
      description: Get places
      parameters:
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      - description: Latitude
        in: query
        name: latitude
        required: true
        type: number
      - description: Longitude
        in: query
        name: longitude
        required: true
        type: number
      - description: Latitude delta
        in: query
        name: latitudeDelta
        required: true
        type: number
      - description: Longitude delta
        in: query
        name: longitudeDelta
        required: true
        type: number
      - collectionFormat: csv
        description: Labels
        in: query
        items:
          type: string
        name: labels
        required: true
        type: array
      - description: City
        in: query
        name: city
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Place'
            type: array
        "500":
          description: Internal server error
      summary: Get places
      tags:
      - places
  /places/{id}:
    get:
      consumes:
      - application/json
      description: Get place
      parameters:
      - description: Place ID
        in: path
        name: id
        required: true
        type: string
      - description: Authentication header
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Place'
        "404":
          description: Place not found
        "500":
          description: Internal server error
      summary: Get place
      tags:
      - places
securityDefinitions:
  ApiKeyAuth:
    type: basic
swagger: "2.0"
